/*Comienzo del estilo de las opciones de la cuenta*/
main {
    display: flex;
    column-gap: 0;
    background-color: #000000;
}

section {
    margin: 0;
    padding: 0;
}

.list-vertical {
    position: relative;
    margin: 0;
    width: 35%;
    left: 0;
    padding: 10%;
    display: table-row;
    flex-direction: column;
    text-align: left;
}

.list-vertical ul {
    list-style: none;
}

.list-vertical h2 {
    border-bottom: 1px solid rgb(203, 160, 243);
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 1.5rem;
}

.list-vertical li {
    line-height: 2.2rem;
    font-size: 87%;
}

.list-vertical .list-button {
    border: none;
    color: #fff;
    font-weight: normal;
    padding: 5% 5% 5% 0;
    font-size: 100%;
    background: none;
}

.list-vertical .list-button:hover {
    font-size: 105.5%;
    color: #CBA0F3FF;
    text-decoration: underline;
    text-decoration-color: #CBA0F3FF;
}

.list-vertical .list-button.active {
    font-size: 105.5%;
    color: #CBA0F3FF;
    text-decoration: underline;
    text-decoration-color: #CBA0F3FF;
}

/*Estilos de secciones que se muestran*/

section:not(.list-vertical) {
    padding-top: 10%;
}

/*Estilo de la información del perfil*/
.info-perfil {
    width: 65%;
    padding: 5% 5% 5% 0;
}

.all-info-container {
    background: rgba(250, 251, 255, 0.2);
    border-radius: 15px;
}

.info-perfil h2 {
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}

.info-container {
    padding: 1.5% 1.5% 1.5% 0;
}

.info-container h3 {
    display: inline;
    font-weight: normal;
    font-size: 1.3rem;
    color: #CBA0F3FF;
    padding: 5px;
}

.info-container span {
    padding: 5px;
    color: #dfdede;
    font-size: 1.3rem;
}

.info-perfil .info-extra {
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}

.edit-item img {
    width: 2%;
    margin: 0;
    padding: 0;
    filter: invert(100%);
}

.edit-item a:hover {
    cursor: pointer;
}

.edit-item img:hover {
    cursor: pointer;
    width: 2.5%;
}

/*Fin del estilo de la información del perfil*/


/*Estilo para añadir una zona de entrega nueva*/
/*Fin del estilo para añadir una zona de entrega nueva*/
.package-item {
    list-style: none; /* Quita el estilo de lista predeterminado */
    padding: 0;
    border: 1px solid #ddd; /* Borde del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Para manejar el contenido que exceda */
    background: rgba(250, 251, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle efecto de elevación */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

/* Contenedor de información del paquete */
.package-info {
    padding: 16px; /* Relleno interno */
}

/* Contenedor para los títulos de cada columna */
.package-titulos {
    display: flex; /* Alinear los títulos horizontalmente */
    flex: 1;
    background: rgba(250, 251, 255, 0.2);
    padding: 10px; /* Relleno para los títulos */
    border-bottom: 1px solid #ddd; /* Línea de separación */
    color: #CBA0F3FF; /* Color del texto */
}

/* Estilo para cada etiqueta de título */
.package-label {
    flex: 1; /* Todos los títulos ocupan el mismo espacio */
    font-size: 1rem; /* Tamaño de fuente */
}

/* Contenedor de detalles de paquete */
.package-detalles {
    display: flex; /* Alinear los detalles horizontalmente */
    justify-content: space-between; /* Espacio entre detalles */
    padding: 10px; /* Relleno para los detalles */
}

/* Estilo para cada detalle */
.package-detail {
    flex: 1; /* Todos los detalles ocupan el mismo espacio */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto gris */
}

/* Estilo de animación para los elementos al pasar el mouse */
.package-item:hover {
    border-color: #a04ae3; /* Cambiar el borde al pasar el mouse */
    transition: border-color 0.3s ease; /* Animación suave */
}


/*Comienzo del estilo de crear un envio*/


.zona-entrega {
    width: 65%;
    margin: 0 auto; /* Esto centra la sección horizontalmente */
    padding: 2% 2% 2% 0; /* Un poco de espacio dentro de la sección */
}

.zona-entrega h2 {
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}

.zona-entrega .info-extra {
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}

.zona-entrega .all-change-container{
    background: rgba(250, 251, 255, 0.2);
    border-radius: 15px;
    padding: 2%;
}

.zona-entrega .all-change-container label {
    display: inline;
    font-weight: normal;
    font-size: 1.3rem;
    color: #CBA0F3FF;
    padding: 5px;
}

.zona-entrega .all-change-container input {
    display: inline;
    width: 100%;
    padding: 5px;
    background: none;
    color: #dfdede;
    font-size: 1.3rem;
    border: none;
}
.zona-entrega .all-change-container .button-form button{
    font-size: 1rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin: 1% 1% 1% 0;
}
.zona-entrega .successAdd {
    background: rgba(250, 251, 255, 0.2);
    border-radius: 15px;
    padding: 2%;
}

.zona-entrega .successAdd h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 1.3rem;
}


.zona-entrega .successAdd button{
    font-size: 1rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
}

/*Estilo para mostrar los mensajes*/

/*Estilo basico de los mensajes*/
.show-message{
    width: 65%;
    padding: 5% 5% 5% 0;
}

.show-message .info-extra {
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}
.show-message h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}

/*Fin del estilo para mostrar los mensajes*/


/*Fin del estilo de las opciones de la cuenta*/

/*COMIENZO DEL ESTILO DE LAS TARJETAS CON INFORMACION DE LOS PAQUETES*/

.envios-pending{
    width: 65%;
    margin: 0 auto; /* Esto centra la sección horizontalmente */
    padding: 2% 2% 2% 0; /* Un poco de espacio dentro de la sección */
}

.envios-pending h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}
.envios-pending .info-extra{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}
.envios-pending .not-info{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 1%;
    border-radius: 8px;

}

/* Estilo de las tarjetas de información de los paquetes */
.card-container{
    display: flex;!important;
    flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente línea si no caben */
    gap: 35px; /* Espacio entre las tarjetas */
    padding: 10px; /* Espacio alrededor del contenedor */
    justify-content: flex-start; /* Alinea las tarjetas al principio de la línea */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
}



.target-button {
    display: flex; /* Hace que los elementos dentro de cada tarjeta estén alineados horizontalmente */
    flex-direction: column; /* Si quieres que los botones y el paquete estén en una columna dentro de la tarjeta */
}
.target-package {
    margin-top: 5%;
    height: 254px;
    width: 190px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    box-shadow: 0 0 5px 8px #d0d0d0;
    overflow: hidden;
    flex: 0 0 auto;
}

/* Información de la tarjeta que se muestra al hacer hover */
.card-image {
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(to top, #9A75D8, #CBA0F3FF);
    padding: 0.7rem;
    color: #f5f5f5;
    transform: translateY(100%); /* Oculta la imagen por defecto */
}

/* Descripción visible por defecto */
.card-description {
    display: flex;
    position: absolute;
    text-align: center;
    gap: 0.5em;
    flex-direction: column;
    background-color: #f5f5f5;
    color: #212121;
    height: 70%;
    bottom: 0;
    border-radius: 16px;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}
.card-description .info-button {
    background-color: #CBA0F3FF; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

/* Título del texto */
.text-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.text-title-hover{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Cuerpo del texto */
.text-body {
    font-size: 0.9rem;
    line-height: 130%;
}

/* Hover: Mostrar toda la información del paquete */
.target-package:hover .card-image {
    transform: translateY(0); /* Muestra la imagen al hacer hover */
}

.target-package:hover .card-description {
    transform: translateY(100%); /* Oculta la descripción al hacer hover */
}


/*COMIENZO DEL ESTILO PARA LA OPCION DE LOS ENVIOS QUE ME VAN A LLEGAR*/
.envios-finished{
    width: 65%;
    margin: 0 auto; /* Esto centra la sección horizontalmente */
    padding: 2% 2% 2% 0; /* Un poco de espacio dentro de la sección */
}

.envios-finished h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}

.envios-finished .info-extra{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}

.envios-finished .not-info{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 1%;
    border-radius: 8px;

}


/*ESTILO DE LA OPCIÓN DE MODIFICAR ENVIOS*/

.modify-envio{
    width: 65%;
    margin: 0 auto; /* Esto centra la sección horizontalmente */
    padding: 2% 2% 2% 0; /* Un poco de espacio dentro de la sección */
}

.modify-envio h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}
.modify-envio h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 1.3rem;
}
.modify-envio .info-extra .text-bold{
    font-weight: bold;
}
.modify-envio .info-extra{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}
.modify-envio .not-info{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 1%;
    border-radius: 8px;

}
.modify-envio .form-change{
    padding: 1% 1% 1% 0;
    width: auto;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 1%;
    border-radius: 8px;
}

.modify-envio .form-change label{
    font-weight: normal;
    font-size: 1.3rem;
    color: #CBA0F3FF;
    padding: 1%;
}

.modify-envio .form-change input{
    width: 45%;
    background: none;
    border: none;
    padding: 1% 1% 1% 0;
    color: #dfdede;
    font-size: 1.3rem;
}
.modify-envio .form-change input:hover {
    background: none;
    color: #dfdede;
    border-bottom: #CBA0F3FF;
}

.modify-envio .form-change .button-form {
    font-size: 1rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
}

.modify-envio .form-change .button-form button {
    font-size: 1.5rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-top: 0.5%;
    width: 20%;
}

.modify-envio .option-status{
    display: flex;
    justify-content: center;
    padding: 1% 1% 1% 0;
    width: auto;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 1%;
    border-radius: 8px;
}
.modify-envio .option-status .options{
    display: flex;
}

.modify-envio .option-status .options a{
    flex-direction: row;
    white-space: nowrap;
    padding: 2%;
    color: #FAFBFF;
}

.modify-envio .finished-container{
    padding: 2%;
    width: auto;
    font-weight: inherit;
    color: #dfdede;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 1%;
    border-radius: 8px;
}

.modify-envio .finished-container h2{
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 1.3rem;
}
.modify-envio .finished-container .info-extra{
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}

.modify-envio .finished-container button{
    font-size: 1.5rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
    margin-top: 0.5%;
    width: 20%;
}

/*ESTILO DE MODIFICAR EL PERFIL*/

.modify-perfil {
    width: 65%;
    padding: 5% 5% 5% 0;
}
.modify-perfil {
    padding: 1.5% 1.5% 1.5% 0;
}
.modify-perfil h2 {
    color: #CBA0F3FF;
    font-weight: normal;
    font-size: 2rem;
}

.modify-perfil .all-change-container {
    background: rgba(250, 251, 255, 0.2);
    border-radius: 15px;
    display: grid; /* Utilizar grid para gestionar el diseño en columnas */
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    padding: 1%;
}


.modify-perfil h3 {
    display: inline;
    font-weight: normal;
    font-size: 1.3rem;
    color: #CBA0F3FF;
    padding: 5px;
}

.modify-perfil input {
    width: 90%; /* Para que el input se ajuste al contenido si se establece dinámicamente */
    padding: 5px;
    color: #dfdede;
    font-size: 1.3rem;
    background: none;
    border: none;
    display: inline-block; /* Asegura que el tamaño del input sea el del contenido si se usa width: auto */
}


.modify-perfil .info-extra {
    padding: 1% 1% 1% 0;
    font-weight: inherit;
    color: #dfdede;
}

.modify-perfil .all-change-container .button-form{
    grid-column: span 2; /* Hacer que el botón ocupe toda la fila en el grid */
    text-align: center;
}

.modify-perfil .all-change-container .button-form button{
    font-size: 1rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
}
.modify-perfil .all-change-container .button-form a{
    font-size: 1rem;
    color: #fff;
    background: #a04ae3;
    border: none;
    border-radius: 5px;
    padding: 1%;
}
.modify-perfil .all-change-container .button-form a:hover{
    background: #662D91;
    cursor: pointer;
}

.modify-perfil .all-change-container .button-form button:hover{
    background: #662D91;
    cursor: pointer;
}

.modify-perfil .all-change-container input[type="checkbox"] {
    display: none; /* Oculta el checkbox */
}
.modify-perfil .all-change-container .notification-text {
    color: #dfdede;
    font-size: 1.3rem;
}

.abrirChat{
    background: #9A75D8;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    padding: 1%;
}
.abrirChat:hover{
    cursor: pointer;
    background: #906dca;
}






